<div class="row mt-5">
    <div class="col-md-12">
        <!--Card-->
        <div class="card card-cascade narrower mt-5">
            <!--Card image-->
            <div class="view gradient-card-header blue darken-2">
                <h4 class="h4-responsive text-white">Lista napraw </h4>
            </div>
            <!--/Card image-->
            <!--Card content-->
            <div class="card-body">
                <table class="table table-striped">
                    <thead class=" mdb-color darken-3">
                        <tr class="text-white">
                            <th>#</th>
                            <th>Vin</th>
                            <th>Numer rejestracyjny</th>
                            <th>Data przyjęcia</th>
                            <th>Data zakończenia</th>
                            <th>Akcja</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                            <td>
                                <button type="button" class="btn btn-info">Więcej</button>
                            </td>                          
                        </tr>
                        <tr>
                            <div class="col-md-12 collapsaleDiv">
                                akdnasjalskfnas lorem
                            </div>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>@mdo</td>
                            <td>
                                <button type="button" class="btn btn-info">Więcej</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>@twitter</td>
                            <td>
                                <button type="button" class="btn btn-info">Więcej</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>@twitter</td>
                            <td>
                                <button type="button" class="btn btn-info">Więcej</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>@twitter</td>
                            <td>
                                <button type="button" class="btn btn-info">Więcej</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <!--/.Card content-->
        </div>
        <!--/.Card-->
    </div>
</div>