<!-- Heading -->
<div class="card mb-4 wow fadeIn">

  <!--Card content-->


</div>
<!-- Heading -->

<app-stats-card></app-stats-card>

<!--Grid row-->
<div class="row wow fadeIn">

  <div class="col-md-12">

    <div class="card card-cascade narrower mt-">
      <div class="view gradient-card-header blue darken-2">
        <h4 class="h4-responsive text-white">Dodawanie nowej naprawy</h4>
      </div>


      <!--Grid column-->
      <div class="row">
        <div class="col-md-4 mb-4 ">
          <!--Card-->

          <p class="text-primary mini-header">Dodawanie pojazdu</p>
          <div class="col-md-12 mb-3">
            <label for="exampleForm2">Marka</label>
            <input #brand type="text" id="exampleForm2" class="form-control" required>
          </div>
          <div class="col-md-12 mb-3">
            <label for="exampleForm2">Model</label>
            <input #model type="text" id="exampleForm2" class="form-control" required>
          </div>
          <div class="col-md-12 mb-3">
            <label for="exampleForm2">Rok produkcji</label>
            <input #productionYear type="text" id="exampleForm2" class="form-control" required>
          </div>

          <div class="col-md-12 mb-3">
            <label for="exampleForm2">Numer vin</label>
            <input #vin type="text" id="exampleForm2" class="form-control" required>
          </div>
          <div class="col-md-12 mb-3">
            <label for="exampleForm2">Numer rejestracyjny</label>
            <input #registrationNumber type="text" id="exampleForm2" class="form-control" required>
          </div>
          <button type="button" class="btn btn-primary" (click)="addCar(brand.value,model.value,productionYear.value,vin.value,registrationNumber.value)">Dodaj samochód
          </button>
          <!--/.Card-->
        </div>


        <div class="col-md-4 mb-4">
          <!--Card-->

          <p class="text-primary mini-header">Dodawanie klienta</p>
          <div class="col-md-12 mb-4">
            <label for="exampleForm2">Imię</label>
            <input #firstName type="text" id="exampleForm2" class="form-control" required>
          </div>
          <div class="col-md-12 mb-4">
            <label for="exampleForm2">Nazwisko</label>
            <input #lastName type="text" id="exampleForm2" class="form-control" required>
          </div>
          <div class="col-md-12 mb-4">
            <label for="exampleForm2">Numer telefonu</label>
            <input #phone type="text" id="exampleForm2" class="form-control" required>
          </div>
          <button type="button" class="btn btn-primary" (click)="addUser(firstName.value,lastName.value,phone.value)">Dodaj klienta
          </button>
        </div>
        <!--/.Card-->


        <div class="col-md-4 mb-4">

          <p class="text-primary mini-header">Szczegóły naprawy</p>
          <div class="col-md-12 mb-4">
            <label for="exampleForm2">Części</label>
            <input #parts type="text" id="exampleForm2" (input)="($event.target.value)" class="form-control" required>
          </div>
          <div class="col-md-12 mb-4">
            <label for="exampleForm2">Opis</label>
            <input #description type="text" id="exampleForm2" class="form-control" required>
          </div>
        </div>

        <div class="col-md-11 mb-4 text-right">
          <button type="button" class="btn btn-primary" (click)="addOrder(description.value,parts.value)">Dodaj zlecenie
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--Grid column-->



</div>



<app-stats-card2></app-stats-card2>