<div class="row mt-5">
    <div class="col-md-12">
        <!--Card-->
        <div class="card card-cascade narrower mt-5">
            <!--Card image-->
            <div class="view gradient-card-header blue darken-2">
                <h4 class="h4-responsive text-white">Lista pojazdów </h4>
            </div>
            <!--/Card image-->
            <!--Card content-->
            <div class="card-body">
                <table class="table table-striped">
                    <thead class=" mdb-color darken-3">
                        <tr class="text-white">
                            <th>#</th>
                            <th>Marka</th>
                            <th>Model</th>
                            <th>Numer rejestracyjny</th>
                            <th>Vin</th>
                            <th>Rok produkcji</th>
                            <th>Akcja</th>
                        </tr>
                    </thead>
                    <tbody  *ngFor="let item of cars">
                        <tr>
                            <th scope="row">{{item.id}}</th>
                            <td>{{item.brand}}</td>
                            <td>{{item.model}}</td>
                            <td>{{item.registrationNumber}}</td>
                            <td>{{item.vin}}</td>
                            <td>{{item.productionYear}}</td>
                            <td><button type="button" class="btn btn-info">Więcej</button></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <!--/.Card content-->
        </div>
        <!--/.Card-->
    </div>
</div>