<!--Main Navigation-->
<header>

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed">

        <a class="logo-wrapper waves-effect logoBrand">
            <i class="fa fa-wrench mr-3 wrenchClass"></i>
            <h3 class="text-primary logoText">Car Mechanic</h3>
            <!-- <img src="../../../../assets/img/angular-mdb.png" class="img-fluid" alt=""> -->
        </a>

        <div class="list-group list-group-flush">

            <a routerLink="dashboards/v1" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-cog mr-3"></i>Nowa naprawa
            </a>
            <a routerLink="tables/table1" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-cogs mr-3"></i>Lista napraw</a>
            <a routerLink="profiles/profile1" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-car mr-3"></i>Lista pojazdów</a>
            <a routerLink="maps/map1" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-users mr-3"></i>Lista klientów</a>
        </div>

    </div>
    <!-- Sidebar -->

    <!--Navbar-->
    <mdb-navbar [containerInside]="false" SideClass="navbar navbar-light white">

        <!-- Navbar brand -->
        <!-- <logo class="ml-3">
            <a class="navbar-brand" href="https://mdbootstrap.com/angular/angular-bootstrap-getting-started/">
                <strong class="blue-text">MDB</strong>
            </a>
        </logo> -->

        <!-- Collapsible content -->

        <!-- Collapsible content -->

    </mdb-navbar>
    <!--/.Navbar-->

</header>
<!--Main Navigation-->